<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <!-- Add a marker to place a particular file -->
    <h1>It's a <%= weekDay %></h1>
  </body>
</html>
